@font-face {
  font-family: 'Heading';
  src: url('../assets/fonts/CormorantSC-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Bold.otf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter500';
  src: url('../assets/fonts/Inter-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'Inter300';
  src: url('../assets/fonts/Inter-Light.otf') format('truetype');
}
